.scene {
  height: 62px;
  width: 52px;
  perspective: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
}

.card {
  height: 57px;
  width: 47px;
  position: relative;
  transition: transform 800ms;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.isClicked {
  transform: rotateY(180deg);
}

.card-face {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  line-height: 55px;
  text-align: center;
  backface-visibility: hidden;
  border-radius: 6px;
}

.face-back {
  transform: rotateY(180deg);
}

.face-back img {
  border-radius: 6px;
}
