.scene {
  height: 52px;
  width: 42px;
  perspective: 200px;
}

.card {
  height: 48px;
  width: 38px;
  transition: transform 800ms;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.isClicked {
  transform: rotateY(180deg);
}

.card-face {
  font-size: 15px;
  font-weight: 600;
  line-height: 42px;
  backface-visibility: hidden;
}

.face-back {
  transform: rotateY(180deg);
}

.face-back img {
  height: 46px;
  width: 36px;
}
