body {
  margin: 0px;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.translate-top {
  transform: translateY(-100%);
}

@media (min-width: 768px) {
  .status {
    position: relative;
    top: 0;
    bottom: 0;
    width: 300px;
  }

  .status .score {
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
  }

  .status .game-control {
    height: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }

  .game-control p {
    margin: auto;
  }

  .game-control button {
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
  }

  .game-control button:focus {
    outline: 0px;
  }

  .game-control button i {
    font-size: 90px;
  }

  .game-control button:focus i {
    font-size: 85px;
  }
}

.life-list li i {
  font-size: 30px;
}

.point {
  text-align: center;
}

.settings {
  border: 1px solid #6b9080;
  border-radius: 50%;
  padding: 4px 4px 2px;
}

.settings i {
  font-size: 25px;
}

.board-control {
  padding: 10px;
  width: fit-content;
  height: 100px;
  border-radius: 6px;
}

.time-bar i.game-started {
  animation: rotate-icon 3s linear 0s infinite normal;
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg) translateY(3px);

    transform-origin: 50% calc(50% + 3px);
  }
  to {
    transform: rotate(360deg) translateY(3px);
    transform-origin: 50% calc(50% + 3px);
  }
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 50vw;
}

progress::-webkit-progress-bar {
  border-radius: 6px;
  padding: 1px;
}

progress::-webkit-progress-value {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 10px;
}

progress.time-full::-webkit-progress-value {
  border-radius: 6px;
}

.card-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: auto;
  padding: 20px;
}
